<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css">
    <script src="../static/js/main.js" ></script>
    <title>Downloader</title>
</head>
<body>
    <div class="main-bar">
        <a href="/">Sitename.com</a>
    </div>
    <br>
    <div class="task-bar">
        <a href="/yt2mp3">YouTube To Mp3</a>
        <a href="/yt2mp4">YouTube To Mp4</a>
    </div>
    {% block content %}
    {% endblock %}
    <h2>YouTube Video and Audio Downloader</h2>
    <p class="nonsense">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore porro nobis accusantium odio, nemo quas quidem odit eaque. Eos quo iure voluptatibus. Maiores odio reprehenderit nostrum</p>
    <p class="nonsense">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iusto fuga corrupti dicta maiores ullam sit quasi, perspiciatis aspernatur praesentium, deleniti, aut architecto aliquid tenetur ex possimus eos facilis non!</p>
</body>
</html>